body {
  background: #000;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
}

.accent-font {
  font-family: 'Audiowide', sans-serif;
}

.header {
  margin-bottom: 25px;
}

.navbar {
  background: transparent;
  border-color: #333;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
  color: white;
}

.intro {
  padding-bottom: 10px;
}

.footer {
  border-top: 1px solid #333;
  padding-top: 25px;
  margin-bottom: 25px;
  font-size: 18px;
}

a, a:hover, a:focus {
  color: #eee;
  text-decoration: none;
}

.intro-text {
  font-size: 24px;
  padding-left: 36px;
}

.intro-text .intro-icon {
  margin-left: -36px;
  height: 36px;
  width: 36px;
  display: inline-block;
}

.brand-icon {
  margin-right: 12px;
}

.header-text {
  font-size: 36px;
}

.form-control {
  background: #000;
  color: #eee;
  font-size: 36px;
  height: 64px;
  border-color: #ccc;
  border-width: 1px;
  border-radius: 4;
  border-style: solid;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.form-control:focus, .form-control:hover {
  border-color: #66afe9;
  color: #eee;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.planet, .moon {
  min-height: 100px;
  margin-bottom: 40px;
  padding: 5px;
}

.planet-image, .moon-image {
  float: left;
  height: 100px;
  width: 100px;
  background-size: contain;
  margin-right: 10px;
}

.planet .planet-name, .moon .moon-name {
  font-size: 16px;
}

.planet .planet-name, .moon .planet-name {
  margin-bottom: 10px;
}

.age {
  font-size: 28px;
}

.birthday {
  font-size: 18px;
}

.birthday-today {
  color: #FFFF66;
}

.birthday-tomorrow {
  color: #A6FFFF;
}

.mercury .planet-image {
  background-image: url("./images/mercury.jpg");
}

.venus .planet-image {
  background-image: url("./images/venus.jpg");
}

.earth .planet-image {
  background-image: url("./images/earth.jpg");
}

.mars .planet-image {
  background-image: url("./images/mars.jpg");
}

.jupiter .planet-image {
  background-image: url("./images/jupiter.jpg");
}

.saturn .planet-image {
  background-image: url("./images/saturn.jpg");
}

.uranus .planet-image {
  background-image: url("./images/uranus.jpg");
}

.neptune .planet-image {
  background-image: url("./images/neptune.jpg");
}

.pluto .planet-image {
  background-image: url("./images/pluto.jpg");
}

.luna .moon-image {
  background-image: url("./images/luna.jpg");
}

.deimos .moon-image {
  background-image: url("./images/deimos.jpg");
}

.io .moon-image {
  background-image: url("./images/io.jpg");
}

.europa .moon-image {
  background-image: url("./images/europa.jpg");
}

.ganymede .moon-image {
  background-image: url("./images/ganymede.jpg");
}

.callisto .moon-image {
  background-image: url("./images/callisto.jpg");
}

.enceladus .moon-image {
  background-image: url("./images/enceladus.jpg");
}

.tethys .moon-image {
  background-image: url("./images/tethys.jpg");
}

.dione .moon-image {
  background-image: url("./images/dione.jpg");
}

.rhea .moon-image {
  background-image: url("./images/rhea.jpg");
}

.titan .moon-image {
  background-image: url("./images/titan.jpg");
}

.iapetus .moon-image {
  background-image: url("./images/iapetus.jpg");
}

.miranda .moon-image {
  background-image: url("./images/miranda.jpg");
}

.ariel .moon-image {
  background-image: url("./images/ariel.jpg");
}

.umbriel .moon-image {
  background-image: url("./images/umbriel.jpg");
}

.titania .moon-image {
  background-image: url("./images/titania.jpg");
}

.oberon .moon-image {
  background-image: url("./images/oberon.jpg");
}

.triton .moon-image {
  background-image: url("./images/triton.jpg");
}

.charon .moon-image {
  background-image: url("./images/charon.png");
}
